footer{
    font-family: 'Inter','Times New Roman', Times, serif;
    position: relative;
    margin: 67px auto 60px;
    }
    
    .footer__text{
    width: 318px;
    height: 18px;
    
    }
    
