@media screen and (max-width:480px){

    .profile__title{
        background-color: pink;
    flex-direction: column;}

    .profile__info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .profile__add-button{
        width: 100%;
        margin:0;
        }
        
        .profile__description{
            text-align: center;
            width: 100%;
        }
        
}

@media screen and (max-width: 934px) {
    .footer {
      max-width: calc(100% - 100px);
    }
  }
  
  @media screen and (max-width: 850px) {
    .footer {
      max-width: 604px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .footer {
      max-width: 720px;
    }
    .footer__text {
      margin-left: 40px;
    }
  }
  
  @media screen and (max-width: 520px) {
    .footer__text {
      font-size: 14px;
      line-height: 14px;
      margin-left: 19px;
    }
  }