.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 34px 36px 36px;
  border-radius: 10px;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  background: transparent url(../images/Close-button.svg) no-repeat;
  border: none;
  background-size: contain;
  transition: opacity 0.3s linear;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 330px;
  width: 100%;
  margin-top: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.modal__input {
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgba(0, 0, 0, 0.2);
  max-width: 358px;
  width: 100%;
  opacity: 1;
  padding-top: 0;
  padding-bottom: 13.26px;
  margin-bottom: 29.74px;
}

.modal__save {
  color: #fff;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  border: 0;
  margin-top: 18px;
  max-width: 358px;
  transition: opacity 0.3s linear;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 650px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__heading {
    line-height: 22px;
    font-size: 18px;
  }

  .modal__form {
    margin-top: 75px;
  }

  .modal__save {
    max-width: 358px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 520px) {
  .modal__close {
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
    width: 26px;
    height: 26px;
  }
}
