.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.modal__opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  max-height: 330px;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  background: transparent url(../images/Close-button.svg) no-repeat;
  border: none;
  transition: opacity 0.3s linear;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  color: black;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  width: 330px;
  height: 23px;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__form {
  display: flex;
  max-width: 358px;
  flex-direction: column;
  gap: 30px;
  margin-top: 54px;
}

.modal__input {
  color: #000;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 27.25px;
  opacity: 1;
  padding-top: 0;
  padding-bottom: 13.26px;
  margin-bottom: 29.74px;
}

.modal__save {
  color: #fff;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  border: 0;
  margin-top: 18px;
  width: 358px;
  transition: opacity 0.3s linear;
}

.modal__button {
  background-color: #000;
  color: #fff;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  max-width: 358px;
  height: 51px;
  margin-top: 20px;
}

@media screen and (max-width: 455px) {
  .modal__container {
    max-width: 282px;
    height: 322px;
    padding-left: 19px;
  }
}
