.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  visibility: hidden;
  padding: 0 19px;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 34px 36px 36px;
  border-radius: 10px;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.modal__image-container {
  background-color: transparent;
  padding-top: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  background: transparent url(../images/Close-button.svg) no-repeat;
  border: none;
  background-size: contain;
  transition: opacity 0.3s linear;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 330px;
  width: 100%;
  margin-top: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.modal__input {
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgba(0, 0, 0, 0.2);
  max-width: 358px;
  width: 100%;
  opacity: 1;
  padding-top: 0;
  padding-bottom: 13.26px;
  margin-bottom: 29.74px;
}

.modal__input_type_error {
  border-color: #ff0000;
}

.modal__button {
  color: #fff;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  border: 0;
  margin-top: 18px;
  width: 358px;
  transition: opacity 0.3s linear;
}
.modal__button_disabled {
  background: #f6f6f6;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
  cursor: default;
}

.modal__button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

.modal__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.modal__label {
  position: relative;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #ff0000;
  /*position: absolute;*/
  left: 0;
  top: calc(100% + 6px);
  opacity: 0;
  transition: opacity 1s;
}

.modal__error_active {
  opacity: 1;
  color: red;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__button_disabled {
  background: #f6f6f6;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
  cursor: default;
}

.modal__image-title {
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

@media screen and (max-width: 650px) {
  .modal__container_type_image {
    max-height: 540px;
    max-width: 433px;
  }

  .modal__heading {
    line-height: 22px;
    font-size: 18px;
  }

  .modal__close_preview-image {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
  }
  .modal__form {
    margin-top: 75px;
  }

  .modal__save {
    max-width: 358px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
  }

  .modal__create {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .modal__close {
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
    width: 26px;
    height: 26px;
  }
}
@media only screen (max-width: 1000px) and (min-width: 650px) {
  .modal__container {
    margin-right: 40px;
    margin-left: 40px;
  }
}
