.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
}

@media screen and (max-width: 934px) {
  .page__content {
    overflow-x: hidden;
    margin: 0 40px;
    max-width: calc(100% - 80px);
  }
  .page__section {
    margin: 45px 50px 40px;
  }
}

@media screen and (max-width: 850px) {
  .page__section {
    margin: 45px auto 40px;
  }
}

@media screen and (max-width: 700px) {
  .page__content {
    margin: 0 19px;
    max-width: calc(100% - 38px);
    min-width: 282px;
  }
  .page__section {
    margin: 28px 0 42px;
  }
}

@media screen and (max-width: 600px) {
  .page__content {
    padding: 0;
  }
}
